vars {
  # Auth service
  AUTHSERVICE_HOST: http://your-server
  AUTHSERVICE_PORT: 34001
  AUTHSERVICE_WEB_PORT: 34201
  AUTHSERVICE_ADMIN_USER: admin@example.com
  AUTHSERVICE_ADMIN_PASSWORD:
  USER_EMAIL: you@example.com
  USER_PASSWORD:
  access_token:
  refresh_token:

  # Mail service
  MAILSERVICE_HOST: http://your-server
  MAILSERVICE_PORT: 34002
  MAIL_SEND_SERVICE_CLIENT_ID:
  MAIL_SEND_SERVICE_CLIENT_SECRET:

  # Region service
  REGIONSERVICE_HOST: http://your-server
  REGIONSERVICE_PORT: 34003

  # Router service
  ROUTERSERVICE_HOST: http://your-server
  ROUTERSERVICE_PORT: 34004

  # Search service
  SEARCHSERVICE_HOST: http://your-server
  SEARCHSERVICE_PORT: 34006

  # Tiles service
  TILESSERVICE_HOST: http://your-server
  TILESSERVICE_PORT: 34005
}
